{% from "../../components/need-score/macro.njk" import needsScore %}
{% from "components/need-score-indicator/macro.njk" import needsScoreIndicator %}

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-{{ loop.index }}">
    {% for assessment in assessmentAreas %}
        {% set linkedtoRoSH = assessment.linkedtoRoSH %}
        {% set linkedtoReoffending = assessment.linkedtoReoffending %}
        {% set riskOfSeriousHarmData = assessment.riskOfSeriousHarm %}
        {% set riskOfReoffendingData = assessment.riskOfReoffending %}
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button sp-accordion-header" id="accordion-default-heading-{{ loop.index }}">
                        {{ assessment.title }}
                      </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body sp-accordion-tags"
                     id="accordion-with-summary-sections-summary-{{ loop.index }}">
                    {% if linkedtoRoSH === true %}
                        <span class="moj-badge moj-badge--purple sp-badge">{{ locale.detail.RoSH }}</span>
                    {% endif %}
                    {% if linkedtoReoffending === true %}
                        <span class="moj-badge moj-badge--bright-purple sp-badge">{{ locale.detail.riskOfReoffending }}</span>
                    {% endif %}
                </div>

                <div id="accordion-default-content-{{ loop.index }}" class="govuk-accordion__section-content">
                    <div class="rosh">
                        {% if linkedtoRoSH or riskOfSeriousHarmData %}
                            <div class="ror">
                                <h3 class="govuk-heading-s">{{ locale.detail.linkedToRoSH }}</h3>
                                <p class="govuk-body">{{ riskOfSeriousHarmData }}</p>
                            </div>
                        {% else %}
                            <h3 class="govuk-heading-s">{{ locale.detail.notLinkedToRoSH }}</h3>
                        {% endif %}

                        {% if linkedtoReoffending or riskOfReoffendingData %}
                            <div class="ror" >
                                <h3 class="govuk-heading-s">{{ locale.detail.linkedToReoffending }}</h3>
                                <p class="sp-text-pre-wrap govuk-body">{{ riskOfReoffendingData }}</p>
                            </div>
                        {%  else %}
                            <h3 class="govuk-heading-s">{{ locale.detail.notLinkedToRiskOfReoffending }}</h3>
                        {% endif %}

                        {% if assessment.motivationToMakeChanges %}
                            <div class="motivation">
                                <h3 class="govuk-heading-s">{{ locale.detail.motivationToMakeChanges }}</h3>
                                <p class="govuk-body">{{ locale.motivationText[assessment.motivationToMakeChanges] }}</p>
                            </div>
                        {% endif %}

                        {% if assessment.strengthsOrProtectiveFactors %}
                            <div class="strengths">
                                <h3 class="govuk-heading-s">{{ locale.detail.strengthsOrProtectiveFactors }}</h3>
                                <p class="govuk-body">{{ assessment.strengthsOrProtectiveFactors }}</p>
                            </div>
                        {% else %}
                            <h3 class="govuk-heading-s">{{ locale.detail.noStrengthsOrProtectiveFactors }}</h3>
                        {% endif %}

                        {% if assessment.criminogenicNeedsScore %}
                            <div class="assessment-score">
                                <h3 class="govuk-heading-s">{{ assessment.title }} need score</h3>
                                <p class="govuk-body">{{ assessment.criminogenicNeedsScore }} out of {{ assessment.upperBound }}. (Scores above 3 are high-scoring.)</p>
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full">
                                        {{ needsScore({
                                            "score": assessment.criminogenicNeedsScore | string,
                                            "upperBound": assessment.upperBound
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if assessment.title in ['Finances', 'Health and wellbeing'] %}
                                <p>{{ locale.needScore.doesNotHaveNeedScore }}</p>
                            {% else %}
                                <p>{{ locale.needScore.needScoreNotAvailable }}</p>
                            {% endif %}
                        {% endif %}

                        {% if assessment.subData %}
                            <br>
                            <div class="assessment-score">
                                <h3 class="govuk-heading-s">{{ locale.detail.lifestyleAndAssociatesNeedScore }}</h3>
                                <p class="govuk-body">{{ assessment.subData.criminogenicNeedsScore }} out of {{ assessment.subData.upperBound }}. (Scores above
                                    {{ assessment.subData.thresholdValue }} are high-scoring.)</p>
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-column-full">
                                        {{ needsScore({
                                            "score": assessment.subData.criminogenicNeedsScore | string,
                                            "upperBound": 6
                                        }) }}
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}

                        <div>
                            <p class='goal-link'><a href='/create-goal/{{ assessment.goalRoute }}' class="govuk-link govuk-link--no-visited-state">Create {{ assessment.title | lower}} goal</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>