{% from "../../components/need-score/macro.njk" import needsScore %}
{% from "components/need-score-indicator/macro.njk" import needsScoreIndicator %}

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-{{ loop.index }}">
    {% for assessment in formattedAssessments %}
        <div class="govuk-accordion__section" id="{{ assessment.goalRoute }}">
            <div class="govuk-accordion__section-header">
                <h3 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button sp-accordion-header"
                          id="accordion-default-heading-{{ loop.index }}">
                      {{ assessment.title }}
                    </span>
                </h3>
                <div class="govuk-accordion__section-summary govuk-body sp-accordion-tags"
                     id="accordion-with-summary-sections-summary-{{ loop.index }}">
                    {% if assessment.isAssessmentSectionComplete and assessment.linkedToHarm === 'YES' %}
                        <span class="moj-badge moj-badge--large moj-badge--purple sp-badge">{{ locale.detail.RoSH }}</span>
                    {% endif %}
                    {% if assessment.isAssessmentSectionComplete and assessment.linkedtoReoffending === 'YES' %}
                        <span class="moj-badge moj-badge--large moj-badge--bright-purple sp-badge">{{ locale.detail.riskOfReoffending }}</span>
                    {% endif %}
                </div>
            </div>
            <div id="accordion-default-content-{{ loop.index }}" class="govuk-accordion__section-content">
                {% if assessment.criminogenicNeedMissing %}
                    <p>This information isn't currently available, please check in OASys.</p>
                {% else %}

                    {% set missingInformation = [] %}

                    {# linked to harm #}
                    {% if assessment.linkedToHarm in ['YES', 'NO'] %}
                        <p class="govuk-!-font-weight-bold">{{ locale.detail.linkedToHarm[assessment.linkedToHarm | lower] }}</p>
                    {% else %}
                        {% set missingInformation = missingInformation.concat('linkedToHarm') %}
                    {% endif %}
                    {% if assessment.riskOfSeriousHarmDetails.length > 0 %}
                        <p class="sp-text-pre-wrap govuk-body">{{ assessment.riskOfSeriousHarmDetails }}</p>
                    {% endif %}

                    {# linked to reoffending #}
                    {% if assessment.linkedtoReoffending in ['YES', 'NO'] %}
                        <p class="govuk-!-font-weight-bold">{{ locale.detail.linkedtoReoffending[assessment.linkedtoReoffending | lower] }}</p>
                    {% else %}
                      {% set missingInformation = missingInformation.concat('linkedToReoffending') %}
                    {% endif %}
                    {% if assessment.riskOfReoffendingDetails.length > 0 %}
                        <p class="sp-text-pre-wrap govuk-body">{{ assessment.riskOfReoffendingDetails }}</p>
                    {% endif %}

                    {# motivation #}
                    {% if assessment.motivationToMakeChanges %}
                        <p class="govuk-!-font-weight-bold">{{ locale.detail.motivationToMakeChanges }}</p>
                        <p class="govuk-body">{{ locale.common.assessmentInfo.motivationText[assessment.motivationToMakeChanges] }}</p>
                    {% else %}
                      {% set missingInformation = missingInformation.concat('motivationToMakeChanges') %}
                    {% endif %}

                    {% if assessment.linkedtoStrengthsOrProtectiveFactors in ['YES', 'NO'] %}
                        <p class="govuk-!-font-weight-bold">{{ locale.detail.strengthsOrProtectiveFactors[assessment.linkedtoStrengthsOrProtectiveFactors | lower] }}</p>
                    {% else %}
                      {% set missingInformation = missingInformation.concat('linkedtoStrengthsOrProtectiveFactors') %}
                    {% endif %}
                    {% if assessment.strengthsOrProtectiveFactorsDetails.length > 0 %}
                      <p class="sp-text-pre-wrap govuk-body">{{ assessment.strengthsOrProtectiveFactorsDetails }}</p>
                    {% endif %}

                    {% if assessment.criminogenicNeedsScore %}
                        <div class="assessment-score">
                            <p class="govuk-!-font-weight-bold">{{ assessment.title }} need score</p>
                            <p class="govuk-body">{{ assessment.criminogenicNeedsScore }} out
                                of {{ assessment.upperBound }}.
                                (Scores above {{ assessment.thresholdValue }} are high-scoring.)</p>
                                {{ needsScore({
                                    "score": assessment.criminogenicNeedsScore,
                                    "upperBound": assessment.upperBound,
                                    "thresholdValue": assessment.thresholdValue
                                }) }}
                        </div>
                    {% else %}
                        {% if assessment.title in ['Finances', 'Health and wellbeing'] %}
                            <p class="govuk-!-font-weight-bold">{{ locale.needScore.doesNotHaveNeedScore }}</p>
                        {% else %}
                          {% set missingInformation = missingInformation.concat('criminogenicNeedsScore') %}
                        {% endif %}
                    {% endif %}

                    {% if assessment.subData %}
                        <div class="assessment-score">
                            <p class="govuk-!-font-weight-bold">{{ locale.detail.lifestyleAndAssociatesNeedScore }}</p>
                            <p class="govuk-body">{{ assessment.subData.criminogenicNeedsScore }} out
                                of {{ assessment.subData.upperBound }}. (Scores above
                                {{ assessment.subData.thresholdValue }} are high-scoring.)</p>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    {{ needsScore({
                                        "score": assessment.subData.criminogenicNeedsScore,
                                        "upperBound": assessment.subData.upperBound,
                                        "thresholdValue": assessment.subData.thresholdValue
                                    }) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %} {# end of if assessment.criminogenicNeedMissing #}

                {% if missingInformation.length > 0 %}
                  <div class="govuk-inset-text">
                      <p class="govuk-!-font-weight-bold">{{ locale.common.assessmentInfo.missingInformation }}</p>
                      <ul>
                      {% for info in missingInformation %}
                          <li>{{ locale.common.assessmentInfo.missingInformationList[info] }}</li>
                      {% endfor %}
                      </ul>
                  </div>
                {% endif %}

                {% if readWrite === true %}
                    <p class='goal-link'>
                        <a href='/create-goal/{{ assessment.goalRoute }}'>Create {{ assessment.title | lower }} goal</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
