{# used at the top of create-goal.njk #}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro assessmentInformationForArea(assessmentDetailsForArea, locale) %}
<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            {{ locale.common.assessmentInfo.detailsSummary }}
        </span>
    </summary>
    <div class="govuk-details__text">
        {{ renderAreaAssessmentSummary(assessmentDetailsForArea, locale) }}
    </div>
</details>
{% endmacro %}

{% macro renderAreaAssessmentSummary(assessmentDetailsForArea, locale) %}
    {%- include "./_area-assessment-summary.njk" -%}
{% endmacro %}
