
 
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
 
{% macro areasList( rows) %}

        <div class="card govuk-grid-column-one-third govuk-!-margin-3 govuk-!-padding-top-3 " >
{{ govukTable({
    caption: "Goals to achieve",
    captionClasses: "govuk-table__caption--m",
    head: [
      {
        text: "Area of need	"
      },
      {
        text: "Goal"
      }
    ],
    rows: rows})}}
     
{{ govukDetails({
    summaryText: "View previous goals",
    text: "No previous goals"
  }) }}
</div>

 
{% endmacro %}