{% extends "govuk/template.njk" %}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% set locale = interpolate(locale, {
  applicationName: applicationName,
  subject: data.popData
}) %}

{% block head %}
  <link href="/assets/css/app.css?{{ version }}" rel="stylesheet" />
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
<div class="govuk-!-display-none-print">
  {% include "./header.njk" %}
  {% if data.popData %}
    {% if data.planAgreementStatus === 'DRAFT' %}
        {{ mojPrimaryNavigation({
          label: 'Primary navigation',
          items: [{
              text: locale.common.primaryNavigation.planLinkText,
              href: '/plan',
              active: data.pageId != 'plan-history' and data.pageId != 'about'
            },
            {
              text: locale.common.primaryNavigation.aboutPopText,
              href: '/about',
              active: data.pageId == 'about'
            }
          ]
        }) }}
    {% else  %}
        {{ mojPrimaryNavigation({
                  label: 'Primary navigation',
                  items: [{
                      text: locale.common.primaryNavigation.planLinkText,
                      href: '/plan',
                      active: data.pageId != 'plan-history' and data.pageId != 'about'
                    },
                    {
                      text: locale.common.primaryNavigation.planHistoryText,
                      href: '/plan-history',
                      active: data.pageId == 'plan-history'
                    },
                    {
                      text: locale.common.primaryNavigation.aboutPopText,
                      href: '/about',
                      active: data.pageId == 'about'
                    }
                  ]
                }) }}
    {% endif  %}
  {% endif  %}
  </div>
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block content %}
  {% if header.type == 'plan-extended' %}
    {% include "./plan-header/plan-header-extended.njk" %}
  {% else %}
    {% include "./plan-header/plan-header-mini.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/js/app.js"></script>
{% endblock %}
