{% extends "govuk/template.njk" %}
{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}
{% from  "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog %}

{% set locale = interpolate(locale, {
  applicationName: applicationName,
  subject: data.popData
}) %}

{% block head %}
  <link href="/assets/css/app.css?{{ version }}" rel="stylesheet" />
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {% if deploymentName %}
    <div class="custom-deployment-banner">
      <span class="govuk-body">
        <u><strong>Notice</strong></u>: You are viewing deployment <strong>{{ deploymentName }}</strong>.
      </span>
    </div>
  {% endif %}
<div class="govuk-!-display-none-print">
  {% include "./header.njk" %}
  {% if data.popData %}
    {% if data.planAgreementStatus === 'DRAFT' %}
        {{ mojPrimaryNavigation({
          label: 'Primary navigation',
          items: [{
              text: locale.common.primaryNavigation.planLinkText,
              href: '/plan',
              active: data.pageId != 'plan-history' and data.pageId != 'about'
            },
            {
              text: locale.common.primaryNavigation.aboutPopText,
              href: '/about',
              active: data.pageId == 'about'
            }
          ]
        }) }}
    {% else  %}
        {{ mojPrimaryNavigation({
                  label: 'Primary navigation',
                  items: [{
                      text: locale.common.primaryNavigation.planLinkText,
                      href: '/plan',
                      active: data.pageId != 'plan-history' and data.pageId != 'about'
                    },
                    {
                      text: locale.common.primaryNavigation.planHistoryText,
                      href: '/plan-history',
                      active: data.pageId == 'plan-history'
                    },
                    {
                      text: locale.common.primaryNavigation.aboutPopText,
                      href: '/about',
                      active: data.pageId == 'about'
                    }
                  ]
                }) }}
    {% endif  %}
  {% endif  %}
  </div>
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block content %}
  {{ hmrcTimeoutDialog ({
    timeout: sessionExpiryTime * 60,
    countdown: (sessionExpiryTime - 10) * 60,
    keepAliveUrl: "?continue=true",
    signOutUrl: "/unsaved-information-deleted",
    title: locale.common.unsavedInformationModal.title,
    message: locale.common.unsavedInformationModal.message,
    messageSuffix: locale.common.unsavedInformationModal.messageSuffix,
    keepAliveButtonText: locale.common.unsavedInformationModal.keepAliveButton,
    signOutButtonText: locale.common.unsavedInformationModal.signOutButton,
    language: "en"
  }) }}

  {% if header.type == 'plan-extended' %}
    {% include "./plan-header/plan-header-extended.njk" %}
  {% else %}
    {% include "./plan-header/plan-header-mini.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/js/app.js"></script>
{% endblock %}
