<div class="govuk-grid-row">
    <div class="govuk-grid-column-full offender-details">
      <h3 class="govuk-heading-s">{{data.popData.firstName}} {{data.popData.lastName}}</h3>
      <dl>
        <dt>CRN:</dt>
        <dd>{{data.popData.crn}} </dd>
        <dt>PRC:</dt>
        <dd>{{data.popData.prc}} </dd>
        <dt>Date of birth:</dt>
        <dd>{{data.popData.doB}} </dd>
      </dl>
      <div id="assessment-info" class="govuk-visually-hidden" data-assessment-id="951875b3-0bed-474f-bea8-cfbe2182b805"></div>
    </div>
  </div>
