{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: data.popData.givenName + "'s plan",
      href: '/plan-summary?source=nav',
      active: true
    },
    {
      text: "About " + data.popData.givenName,
      href: '/about-pop'
    }
  ]
}) }}