{% from "../components/summary-card/summary-card.njk" import summaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro summaryListWithSteps (goal, index, length) %}
    {% call summaryCard({
        title: {
            text:  goal.title
        },
        actions: {
          items: [
            {
              href: "/edit-goal",
              text: "Change goal",
              visuallyHiddenText: "Change goal"
            },
            {
              href: "/add-change-steps",
              text: "Add or change steps",
              visuallyHiddenText: "Add or change steps"
            },
            {
              href: "/remove-goal",
              text: "Remove goal",
              visuallyHiddenText: "Remove goal"
            }
          ]
        }
    }) %}

    <p class="govuk-body">Aim to achieve in {{ getMonthsDifference(goal.creationDate, goal.targetDate) }} months ({{ goal.targetDate | formatSimpleDate }})</p>
    {% if goal.steps and goal.steps.length > 0 %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Step</th>
        <th scope="col" class="govuk-table__header">Who will do this</th>
        <th scope="col" class="govuk-table__header">Due date</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for step in goal.steps %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ step.description }}</td>
        <td class="govuk-table__cell">{{ step.actors | getActors | join(', ') }}</td>
        <td class="govuk-table__cell">{{ step.creationDate | formatSimpleDate }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <strong class="govuk-body govuk-!-font-weight-bold">No steps added</strong>
      <hr></hr>
    {% endif %}
    <p class="govuk-body-s">
        Area of need: {{ goal.areaOfNeed.name | lower }} <br>
        {% if goal.relatedAreasOfNeed.length > 0 %}
          Also relates to: {{ goal.relatedAreasOfNeed | getRelatedAreaOfNeed | join(', ') | lower }}
        {% endif %}
    </p>
        <hr></hr>
        {% if length > 1 %}
            {% if index == 1 %}
            {{ govukButton({
                text: "Move goal down",
                classes: "govuk-button--secondary"
              }) }}
            </div>
            {% elseif index > 1 and index < length %}
              {{ govukButton({
                text: "Move goal up",
                classes: "govuk-button--secondary"
              }) }}&nbsp; &nbsp;
              {{ govukButton({
                  text: "Move goal down",
                  classes: "govuk-button--secondary"
              }) }}
            {% elseif index == length %}
              {{ govukButton({
                text: "Move goal up",
                classes: "govuk-button--secondary"
              }) }}
            {% endif %}
        {% endif %}
    {% endcall %}
{% endmacro %}