{% from "./summary-card.njk" import summaryCard %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% macro goalSummaryCard(params) %}
    {% call summaryCard({
        title: {
            text:  params.goal.title
        },
        actions: {
            items: params.actions
        }
    }) %}
        <p class="govuk-body">Aim to achieve {{ params.goal.targetDate | formatSimpleDate }}</p>
        {% if params.goal.steps and params.goal.steps.length > 0 %}
            <table class="govuk-table">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Step</th>
                <th scope="col" class="govuk-table__header">Who will do this</th>
                <th scope="col" class="govuk-table__header">Due date</th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              {% for step in params.goal.steps %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ step.description }}</td>
                <td class="govuk-table__cell">{{ step.actors | getActors | join(', ') }}</td>
                <td class="govuk-table__cell">{{ step.creationDate | formatSimpleDate }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
            <strong class="govuk-body govuk-!-font-weight-bold">No steps added</strong>
            <hr>
        {% endif %}

        <p class="govuk-body-s">
            Area of need: {{ params.goal.areaOfNeed.name }}<br>
            {% if params.goal.relatedAreasOfNeed.length > 0 %}
              Also relates to: {{ params.goal.relatedAreasOfNeed | getRelatedAreaOfNeed | join(', ') }}
            {% endif %}
        </p>

        {% if params.buttons and params.buttons.length > 0 %}
            <hr>
            {{ mojButtonMenu({
                items: params.buttons
            }) }}
        {% endif %}
    {% endcall %}
{% endmacro %}