<div class="needs-score-label__card">
    <p><span class="govuk-!-font-weight-bold govuk-heading-s" id="needsScoreMain">{{ needsScore.score }}</span>
      <span id="needsScoreSub">out of {{ needsScore.upperBound }}</span></p>
    <div class="needs-score-label__card-pointer score-label__card-pointer--white"></div>
</div>
