<div class="needs-score-label__card">
    <p><span class="govuk-!-font-weight-bold">{{ needsScore.score }}</span>
    out of {{ needsScore.upperBound }}</p>
    <div class="needs-score-label__card-pointer score-label__card-pointer--white"></div>
</div>
