<div class="needs-score-label__card">
    <p><span class="needsScoreMain">{{ needsScore.score }}</span>
      <span class="needsScoreSub">out of {{ needsScore.upperBound }}</span></p>
    <div class="needs-score-label__card-pointer score-label__card-pointer--white"></div>
</div>
