{% extends "./plan-header-mini.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block extension %}
    <div class="plan-header__extended">
        <div class="plan-header__extended__title">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ possessiveName }} plan</h1>
        </div>

        <div class="govuk-button-group">
            <form action="/create-goal/accommodation">
                {{ govukButton({
                    text: "Create goal",
                    classes: "govuk-button--secondary"
                }) }}
            </form>
            <form action="/plan/{{ data.planUuid }}/agree">
                {{ govukButton({
                    text: "Agree plan"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
