

{% if data.popData %}
    <header class="plan-header">
        <div class="plan-header__subject-details">
            <p class="plan-header__subject-details__title">{{data.popData.givenName}} {{data.popData.familyName}}</p>
            <dl class="plan-header__subject-details__identifiers">
                <div>
                    <dt>CRN:</dt>
                    <dd>{{data.popData.crn}} </dd>
                </div>
                <div>
                    <dt>PNC:</dt>
                    <dd>{{data.popData.pnc}} </dd>
                </div>
                <div>
                    <dt>Date of birth:</dt>
                    <dd>{{data.popData.dateOfBirth}} </dd>
                </div>
            </dl>
        </div>
        {% block extension %}
            {# Block for extended versions #}
        {% endblock %}
    </header>
{% endif %}
