{% macro noteList(params) %}

<div id="achieved-goal-notes" class="govuk-!-margin-top-4">
    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              {{ params.locale.common.noteList.viewAllNotes }}
            </span>
        </summary>
        <div class="govuk-details__text">
            {% if params.notes.length > 0 %}
                {% for note in params.notes %}
                    {% set locale = interpolate(params.locale.common.noteList, {
                        noteDate: note.createdDate | formatSimpleDate,
                        noteAuthor: note.practitionerName | convertToTitleCase
                    }) %}
                    <h3 class="govuk-heading-s">{{ locale.noteHeading }}</h3>
                    {% if note.type == "ACHIEVED" %}
                        <p>{{ locale.goalAchievedNote }}</p>
                    {% elif note.type == "REMOVED" %}
                        <p>{{ locale.goalRemovedNote }}</p>
                    {% endif %}
                    <p>{{ note.note }}</p>
                {% endfor %}
            {% else %}
                <p>{{ params.locale.common.noteList.noGoalNotes }}</p>
            {% endif %}
        </div>
    </details>
</div>
{% endmacro %}