$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min.css";
@import "hmpps-court-cases-release-dates-design/hmpps/components/date-picker/date-picker";
@import './components/header-bar';
@import './components/rosh-widget';
@import "./components/colors";
@import "./components/summary-card";
@import "./components/plan-header";
@import './local';
