$govuk-global-styles: true;
$path: "/assets/images/";
$hmrc-assets-path: 'node_modules/hmrc-frontend/hmrc';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

$govuk-suppressed-warnings: 'govuk-typography-scale-14';

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import "hmrc-frontend/hmrc/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min.css";
@import "./components/accessible-autocomplete";
@import "./components/add-steps-list";
@import "./components/back-to-top";
@import "./components/button";
@import "./components/colors";
@import "./components/custom-deployment-banner";
@import "./components/goal-list";
@import "./components/goal-summary-card";
@import "./components/needs-scores";
@import "./components/notification-banner";
@import "./components/page-header-actions";
@import "./components/plan-header";
@import "./components/print";
@import "./components/select";
@import "./components/summary-card";
@import "./components/user-feedback";
@import './components/header-bar';
@import './components/rosh-widget';
@import './local';
