.capital:first-letter {text-transform: uppercase}

.govuk-visually-hidden {
  &--mobile {
    @include govuk-media-query($until: tablet) {
      @include govuk-visually-hidden($important: true);
    }
  }

  &--tablet {
    @include govuk-media-query($from: mobile, $until: desktop) {
      @include govuk-visually-hidden($important: true);
    }
  }

  &--desktop {
    @include govuk-media-query($from: tablet) {
      @include govuk-visually-hidden($important: true);
    }
  }
}

.govuk-tag {
  max-width: unset;
}

.plan-navigation {
  .moj-sub-navigation__list > li:has(> a[href="/plan?type=removed"]) {
    float: right;
  }
}
.sp-badge {
  text-transform: none !important;
  letter-spacing: 1px;
}

.govuk-flex {
  display: flex;
  padding-bottom: 20px;
}

.govuk-padding-right--25 {
  padding-right: 25px
}

.govuk-padding-bottom--25 {
  bottom: 25px
}

.govuk-margin-top--60 {
  margin-top: 60px!important;
}

.app-container {
  padding-top: 0;
}

.sp-accordion-header {
  font-size: 24px!important;
  font-weight: 100!important;
  display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 25px!important;
}

.sp-text-pre-wrap {
  white-space: pre-wrap
}

.sp-accordion-tags {
  margin-right: auto;
}

.sp-accordion-header-no-risk {
  font-size: 24px!important;
  font-weight: 100!important;
  display: flex;
  justify-content: space-between;
  padding-top: 25px!important;
}

.code-block {
  display: block;
  overflow: auto;
  background-color: govuk-colour('light-grey');
  @include govuk-responsive-padding(4);
}

.sentence-info .single-sentence .govuk-table__cell {
  border-bottom: 0;
}

@include govuk-media-query($until: tablet) {
  .update-goal-table {
    border-collapse: separate !important; /* Prevents double borders in some browsers */

    .govuk-table__head {
      display: none;
    }

    .govuk-table__row {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid #b1b4b6;
      padding: 1em 0;
    }

    .govuk-table__header, .govuk-table__cell {
      display: block;
      width: 100%;
      border: none !important;
      text-align: left;
      padding: 0.5em 0;
    }

    .govuk-table__cell {
      &::before {
        content: attr(data-header);
        font-weight: bold;
        display: block;
        margin-bottom: 0.5em;
      }
    }
  }
}
