.govuk-main-wrapper {
  min-height: 600px;
}

.offender-details {
  margin-bottom: 25px
}

.offender-details * {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 15px
}

.offender-details * dd {
  border-right: 1px solid gray
}

.offender-details * dd:last-of-type {
  border: none
}

.offender-details *:first-child {
  padding-left: 0
}

.offender-details *:last-child {
  padding-right: 0
}

.offender-details dt {
  padding-right: 5px
}

.offender-details dd {
  padding-left: 5px
}
dl:empty{
min-height: 1em;
}

.capital:first-letter {text-transform: uppercase}

#start-working-goal-radio:checked~#customDate,
#start-working-goal-radio-2:checked~#nothing {
  display: block;
}

#customDate,
#nothing {
  display: none;
}

#input_description:checked~#contentDescription,
#input_shipping:checked~#contentShipping {
  display: block;
}

#contentDescription,
#contentShipping {
  display: none;
}