
$high-needs-score-colour: #d4351c;
$low-needs-score-colour: #28a197;
$white-needs-score-background-colour: #ffffff;

@mixin needs-score-label-card-colour($primary-colour, $secondary-colour, $text-colour) {
  & .needs-score-label__card {
    border: 1px solid $primary-colour;

    & .needs-score-label__card-pointer {
      border-top: 16px solid $primary-colour;
    }
  }
}

.needs-score {
  width: 100%;
  padding: 30px 10px 10px;
  box-sizing: border-box;
}


.needs-score-label {
  margin-bottom: 15px;
  width: 500px;
}

.needs-score-label-wrapper--position-zero-of-ten,
.needs-score-label-wrapper--position-one-of-ten,
.needs-score-label-wrapper--position-two-of-ten,
.needs-score-label-wrapper--position-three-of-ten,
.needs-score-label-wrapper--position-four-of-ten,
.needs-score-label-wrapper--position-five-of-ten,
.needs-score-label-wrapper--position-six-of-ten,
.needs-score-label-wrapper--position-seven-of-ten,
.needs-score-label-wrapper--position-eight-of-ten,
.needs-score-label-wrapper--position-nine-of-ten,
.needs-score-label-wrapper--position-ten-of-ten {
  width: 10%;
}

.needs-score-label-wrapper--position-zero-of-ten {
  margin-left: -8%;
}

.needs-score-label-wrapper--position-one-of-ten {
  margin-left: 2%;
}

.needs-score-label-wrapper--position-two-of-ten {
  margin-left: 12%;
}

.needs-score-label-wrapper--position-three-of-ten {
  margin-left: 22%;
}

.needs-score-label-wrapper--position-four-of-ten {
  margin-left: 32%;
}

.needs-score-label-wrapper--position-five-of-ten {
  margin-left: 42%;
}

.needs-score-label-wrapper--position-six-of-ten {
  margin-left: 52%;
}

.needs-score-label-wrapper--position-seven-of-ten {
  margin-left: 62%;
}

.needs-score-label-wrapper--position-eight-of-ten {
  margin-left: 72%;
}

.needs-score-label-wrapper--position-nine-of-ten {
  margin-left: 82%;
}

.needs-score-label-wrapper--position-ten-of-ten {
  margin-left: 92%;
}

.needs-score-label__card {
  width: 76px;
  margin: 0 auto;
  background-color: govuk-colour("white");
  border: 1px solid govuk-colour("black");

  & h3,
  & p {
    margin: 0;
    text-align: center;
  }

  & h3 {
    @include govuk-font(16, "bold");
  }

  & p {
    @include govuk-font(14, "regular");
  }
}

.needs-score-label__card-pointer {
  width: 0;
  height: 0;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  border-top: 16px solid govuk-colour("black");
  position: relative;
  top: 0;
  left: 23px;
  float: left;
}

.needs-score-label__card-pointer--white::after {
  border-top: 15px solid govuk-colour("white") !important;
}

.needs-score-label__card-pointer::after {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 15px solid govuk-colour("white");
  position: absolute;
  top: -16px;
  left: -15px;
  content: "";
}

@mixin needs-score-bar--small {
  margin-bottom: 15px;
  width: 500px;
  & {
    &::after {
      content: "" "";
      display: block;
      visibility: hidden;
      clear: both;
    }
    & > div > span {
      display: block;
    }
  }


  & > div {
    width: 10%;
    display: inline;
    float: left;
    border-top: 1px solid govuk-colour("black");
    border-bottom: 1px solid govuk-colour("black");
    box-sizing: border-box;
  }

  & > div:nth-child(10n + 1) {
    background-color: $white-needs-score-background-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2)  {
    background-color: $white-needs-score-background-colour;
  }

  & > div:nth-child(10n + 3)  {
    background-color: $white-needs-score-background-colour;
    border-right: 5px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 4)  {
    background-color: $white-needs-score-background-colour;
    border-left: 5px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 5)  {
    background-color: $white-needs-score-background-colour;
  }

  & > div:nth-child(10n + 6) {
    background-color: $white-needs-score-background-colour;
  }

  & > div:nth-child(10n + 7)  {
    background-color: $white-needs-score-background-colour;
  }

  & > div:nth-child(10n + 8) {
    background-color: $white-needs-score-background-colour;
  }

  & > div:nth-child(10n + 9) {
    background-color: $white-needs-score-background-colour;
  }

  & > div:nth-child(10n + 10) {
    background-color: $white-needs-score-background-colour;
    border-right: 1px solid govuk-colour("black");
  }
  & > div:nth-child(10n + 1) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: left;
      content: "0";
      left: -5%;
      bottom: -35px;
      @include govuk-font(16, "regular");
    }

    &::after {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      margin-bottom: -20px;
      float: right;
      content: "1";
      right: -5%;
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 2) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "2";
      left: 5%;
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 3) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "3";
      left: 20%;
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 4) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "4";
      left: 5%;
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 5) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "5";
      left: 5%;
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 6) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "6";
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 7) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "7";
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 8) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "8";
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 9) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "9";
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }

  & > div:nth-child(10n + 10) {
    &::before {
      position: relative;
      text-align: center;
      color: govuk-colour("black");
      float: right;
      content: "10";
      right: -10%;
      bottom: -35px;
      @include govuk-font(16, "regular");
    }
  }
}

.needs-score-bar--small-tenths {

  & > div:last-child{
    border-right: 1px solid govuk-colour("black");
  }

  & > div {
    width: 10%;
  }
}

.needs-score-bar--small-0 {
  @include needs-score-bar--small
}

.needs-score-bar--small-1 {
  @include needs-score-bar--small;
  & > div:nth-child(10n + 1) {
    background-color: $low-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 1) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-2 {
  @include needs-score-bar--small;
  & > div:nth-child(10n + 1) {
    background-color: $low-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $low-needs-score-colour;
  }

  & > div:nth-child(10n + 2) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-3 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $low-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $low-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $low-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-4 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $high-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-5 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $high-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 5) {
    background-color: $high-needs-score-colour;
  }
  & > div:nth-child(10n + 5) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-6 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $high-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 5) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 6) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 6) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-7 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $high-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 5) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 6) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 7) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 7) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-8 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $high-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 5) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 6) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 7) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 8) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 8) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-9 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $high-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 5) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 6) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 7) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 8) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 9) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 9) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-score-bar--small-10 {
  @include needs-score-bar--small;

  & > div:nth-child(10n + 1) {
    background-color: $high-needs-score-colour;
    border-left: 1px solid govuk-colour("black");
  }

  & > div:nth-child(10n + 2) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 3) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 4) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 5) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 6) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 7) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 8) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 9) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 10) {
    background-color: $high-needs-score-colour;
  }

  & > div:nth-child(10n + 10) {
    &::before {
      @include govuk-font(16, "bold");
    }
  }
}

.needs-complete-panel {
  margin-bottom: 50px;
}
