.user-feedback {
  margin-top: 5px;
  margin-bottom: 15px;

  &__banner {
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
  }

  &__link:visited {
    color: $govuk-link-colour;
  }
}
