.rosh-low-risk {
  color: govuk-colour("green")
}

.rosh-mid-risk {
  color: govuk-colour("orange")
}

.rosh-high-risk {
  color: govuk-colour("red")
}

.govuk-secondary-text {
  color: $govuk-secondary-text-colour
}
