---
# Per environment values which override defaults in hmpps-sentence-plan-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: sentence-plan-test.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://sentence-plan-test.hmpps.service.justice.gov.uk"
    SENTENCE_PLAN_API_URL: "https://sentence-plan-api-test.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    HMPPS_ARNS_HANDOVER_URL: "https://arns-handover-service-test.hmpps.service.justice.gov.uk"
    OASYS_URL: "https://arns-oastub-test.hmpps.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-dev.hmpps.service.justice.gov.uk"
    COORDINATOR_API_URL: "https://arns-coordinator-api-test.hmpps.service.justice.gov.uk"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-dev.prison.service.justice.gov.uk"
    DELIUS_API_BASE_URL: "https://sentence-plan-and-delius-dev.hmpps.service.justice.gov.uk"
    MPOP_URL: "https://manage-people-on-probation-dev.hmpps.service.justice.gov.uk"
    ENVIRONMENT_NAME: TEST

  namespace_secrets:
    hmpps-sentence-plan-ui-feedback-url:
      FEEDBACK_URL: "FEEDBACK_URL"

  allowlist:
    mp-nat-egress-one: 13.43.9.198/32
    mp-nat-egress-two: 13.42.163.245/32
    mp-nat-egress-three: 18.132.208.127/32
    capita-dev: 51.104.16.30/31
    capita-further: 172.167.141.40/32
    capita-developers-vms-one: 85.115.52.180/32
    capita-developers-vms-two: 85.115.52.200/29
    capita-developers-vms-three: 85.115.53.180/32
    capita-developers-vms-four: 85.115.53.200/29
    capita-developers-vms-five: 85.115.54.180/32
    capita-developers-vms-six: 85.115.54.200/29

generic-prometheus-alerts:
  alertSeverity: hmpps-sentence-plan-notifications
