{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "../components/assessment/assessment.njk" import renderAssessment %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set print = true %}
{% set locale = interpolate(locale, {
    subject: data.popData
}) %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}
{% set header = {
    type: "plan-extended",
    heading: locale.mainHeading.title,
    items: [
        {
            text: locale.common.header.returnToOasysButton,
            href: data.oasysReturnUrl,
            classes: "govuk-button--secondary",
            type: 'button'
        },
        {
            text: locale.common.header.returnToOasysButton,
            href: "/create-goal/accommodation",
            classes: "govuk-button--secondary",
            type: 'button'
        }
    ]
} %}

{% block bodyStart %}
    <div id="top"></div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            {% if errors.domain %}
            {%  set errorList = [] %}
            {%  for error in errors.domain %}
                {%  set errorList = (errorList.push({ text: locale.errors[error]}), errorList)    %}
            {%  endfor %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% if data.assessmentAreas.versionUpdatedAt %}
                <p class="govuk-body">Last updated: {{ data.assessmentAreas.versionUpdatedAt | dateWithYear }}</p>
            {% endif %}

            {% if data.deliusData.sentences.length > 0 %}
            <h2 class="govuk-heading-m">Sentence information</h2>
            <table class="govuk-table govuk-!-margin-bottom-4" >

                <tr class="govuk-body-s">
                    <td class="govuk-padding-right--25">Sentence</td>
                    <td class="govuk-padding-right--25">Expected end date</td>
                    <td class="govuk-padding-right--25">Unpaid work</td>
                    <td class="govuk-padding-right--25">Rehabilitation activity requirement (RAR)</td>
                </tr>

                {% for sentence in data.deliusData.sentences %}
                    <tr class="govuk-table__row govuk-body-l">
                        <td class = "govuk-table__cell govuk-padding-bottom--25 ">{{ sentence.description }} <br/> {{ yearsAndDaysElapsed(sentence.startDate, sentence.endDate) }} </td>
                        <td class = "govuk-table__cell govuk-padding-bottom--25">{{ sentence.endDate | dateWithYear }}</td>
                        <td class = "govuk-table__cell govuk-padding-bottom--25">
                            {% if sentence.unpaidWorkHoursOrdered > 0 %}
                                {{ sentence.unpaidWorkHoursOrdered }} hours
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td class = "govuk-table__cell govuk-padding-bottom--25">
                            {% if sentence.rarDaysOrdered > 0 %}
                                {{ sentence.rarDaysOrdered }} days
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>
                {% endfor  %}
            </table>
            {% endif %}


            {% if data.assessmentAreas.highScoring.length > 0 %}
                <h2 class="govuk-heading-m">High-scoring areas from the assessment</h2>
                {{ renderAssessment(data.assessmentAreas.highScoring) }}
            {% endif %}

            {% if data.assessmentAreas.lowScoring.length > 0 %}
                <h2 class="govuk-heading-m">Low-scoring areas from the assessment</h2>
                {{ renderAssessment(data.assessmentAreas.lowScoring) }}
            {% endif %}

        </div>

    </div>

{% endblock %}