{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "../components/assessment/assessment.njk" import renderAssessment %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set print = true %}
{% set locale = interpolate(locale, {
    subject: data.popData,
    lastUpdatedDate: data.formattedAssessmentInfo.versionUpdatedAt | formatSimpleDate
}) %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}
{% set header = {
    type: "plan-extended",
    heading: locale.mainHeading.title,
    items: [
        {
            text: locale.common.header.returnToOasysButton,
            href: data.oasysReturnUrl,
            classes: "govuk-button--secondary",
            type: 'button'
        },
        {
            text: locale.common.planHeader.extended.createGoalButton,
            href: "/create-goal/accommodation",
            classes: "govuk-button--secondary",
            type: 'button'
        } if data.readWrite === true
    ]
} %}

{% block bodyStart %}
    <div id="top"></div>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors.domain %}
            {%  set errorList = [] %}
            {%  for error in errors.domain %}
                {%  set errorList = (errorList.push({ text: locale.errors[error]}), errorList)    %}
            {%  endfor %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorList
                }) }}
            {% endif %}

            {% if data.deliusData.sentences.length > 0 %}
            <h2 class="govuk-heading-m govuk-!-margin-top-3">Sentence information</h2>
            <table class="govuk-table govuk-!-margin-bottom-6 sentence-info">

                <tr class="govuk-body-s">
                    <td class="govuk-padding-right--25">{{ locale.detail.sentenceHeading }}</td>
                    <td class="govuk-padding-right--25">{{ locale.detail.endDateHeading }}</td>
                    <td class="govuk-padding-right--25">{{ locale.detail.unpaidWorkHeading }}</td>
                    <td class="govuk-padding-right--25">{{ locale.detail.rarHeading }}</td>
                </tr>

                {% for sentence in data.deliusData.sentences %}
                    <tr class="govuk-table__row govuk-body-l {{ 'single-sentence' if data.deliusData.sentences.length == 1 }}">
                        <td class = "govuk-table__cell govuk-padding-bottom--25">{{ sentence.description }} <br/> {{ sentenceLength(sentence.startDate, sentence.endDate, locale.common.sentence) }}</td>
                        <td class = "govuk-table__cell govuk-padding-bottom--25">{{ sentence.endDate | formatSimpleDate }}</td>
                        <td class = "govuk-table__cell govuk-padding-bottom--25">
                            {% if sentence.unpaidWorkHoursOrdered > 0 %}
                                {{ sentence.unpaidWorkHoursOrdered }} hours
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td class = "govuk-table__cell govuk-padding-bottom--25">
                            {% if sentence.rarDaysOrdered > 0 %}
                                {{ sentence.rarDaysOrdered }} days
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>
                {% endfor  %}
            </table>
            {% endif %}

            {% if data.formattedAssessmentInfo.versionUpdatedAt %}
                    <p id="last-updated" class="govuk-body govuk-!-margin-top-5">{{ locale.detail.lastUpdated }}</p>
            {% endif %}

            <h2 class="govuk-heading-m">{{ locale.highScoring.sectionHeading }}</h2>
            {% if data.formattedAssessmentInfo.areas.highScoring.length > 0 %}
                {{ renderAssessment(data.formattedAssessmentInfo.areas.highScoring, locale, data.readWrite) }}
            {% else %}
                <p class="govuk-body">{{ locale.highScoring.sectionEmptyParagraph }}</h2>
            {% endif %}

            <h2 class="govuk-heading-m">{{ locale.lowScoring.sectionHeading }}</h2>
            {% if data.formattedAssessmentInfo.areas.lowScoring.length > 0 %}
                {{ renderAssessment(data.formattedAssessmentInfo.areas.lowScoring, locale, data.readWrite) }}
            {% else %}
                <p class="govuk-body">{{ locale.lowScoring.sectionEmptyParagraph }}</h2>
            {% endif %}

            {% if data.formattedAssessmentInfo.areas.other.length > 0 %}
                <h2 class="govuk-heading-m">{{ locale.withoutScoring.sectionHeading }}</h2>
                <p id="other-areas-paragraph" class="govuk-body">{{ locale.withoutScoring.sectionParagraph }}</h2>
                {{ renderAssessment(data.formattedAssessmentInfo.areas.other, locale, data.readWrite) }}
            {% endif %}

        </div>

    </div>

{% endblock %}
