{% extends "../partials/layout.njk" %}
{% from "../components/summary-card/goal-summary-card.njk" import goalSummaryCard %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/error-summary/error-summary.njk" import errorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}

{% set customHtml %}
  {{ govukTextarea({
    name: "goal-achievement-helped",
    id: "goal-achievement-helped",
    classes: "govuk-!-width-two-thirds",
    rows: 1,
    label: {
      text: 'Enter how achieving this goal has helped x (optional)',
      classes: "govuk-label"
    },
    value: data.form['goal-achievement-helped'],
    errorMessage: getFormattedError(errors, locale, 'goal-achievement-helped')
  }) }}
{% endset %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="{{ data.returnLink }}" class="govuk-back-link">{{ locale.common.backLink.text }}</a>
        {{ errorSummary({
            errors: errors,
            locale: locale
        }) }}
        <h1 class="govuk-heading-l">{{ locale.mainHeading.title }}</h1>

        {{ goalSummaryCard({
            goal: data.goal,
            locale: locale
        }) }}

        <form id="achieve-goal-form" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="uuid" value="{{ data.goal.uuid }}">
            {{ govukRadios({
              name: "start-working-goal-radio",
              fieldset: {
                legend: {
                  text: 'Has x achieved this goal?',
                  classes: "govuk-fieldset__legend--m"
                }
              },
              errorMessage: getFormattedError(errors, locale, 'start-working-goal-radio'),
              items: [
                {
                  text: 'Yes, mark it as achieved.',
                  value: "yes",
                  checked: data.form['start-working-goal-radio'] == 'yes',
                  conditional: {
                  html: customHtml
                }
                },
                {
                  text: 'No',
                  value: "no",
                  checked: data.form['start-working-goal-radio'] == 'no'
                }
              ]
            }) }}

            {{ govukButton({
                text: 'Save',
                name: "save",
                value: "save"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
