{% extends "../partials/layout.njk" %}
{% from "../components/summary-card/goal-summary-card.njk" import goalSummaryCard %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/error-summary/error-summary.njk" import errorSummary %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{{ super() }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="{{ data.returnLink }}" class="govuk-back-link">{{ locale.common.backLink.text }}</a>
        {{ errorSummary({
            errors: errors,
            locale: locale
        }) }}
        <h1 class="govuk-heading-l">{{ locale.mainHeading.title }}</h1>

        {{ goalSummaryCard({
            goal: data.goal,
            locale: locale
        }) }}

        <form id="achieve-goal-form" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="uuid" value="{{ data.goal.uuid }}">
            {{ govukTextarea({
                name: "goal-achievement-helped",
                id: "goal-achievement-helped",
                classes: "govuk-!-width-two-thirds",
                rows: 3,
                label: {
                    text: locale.notes.label,
                    classes: "govuk-label--m"
                },
                value: data.form['goal-achievement-helped'],
                errorMessage: getFormattedError(errors, locale, 'goal-achievement-helped')
            }) }}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: locale.confirmGoalAchievedButton,
                    name: "action",
                    value: "confirm"
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="{{ data.returnLink }}">{{ locale.doNotMarkAsAchievedLink }}</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
