{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "../components/summary-card/goal-summary-card.njk" import goalSummaryCard %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set currentGoals = [] %}
{% set futureGoals = [] %}
{% set achievedGoals = [] %}
{% set removedGoals = [] %}

{% for goal in data.plan.goals %}
    {% if goal.status === 'ACTIVE' %}
        {% set currentGoals = currentGoals.concat({
            index: loop.index0,
            goal: goal
        }) %}
    {% elseif goal.status === 'FUTURE' %}
        {% set futureGoals = futureGoals.concat({
            index: loop.index0,
            goal: goal
        }) %}
    {% elseif goal.status === 'ACHIEVED' %}
        {% set achievedGoals = achievedGoals.concat({
            index: loop.index0,
            goal: goal
        }) %}
    {% elseif goal.status === 'REMOVED' %}
        {% set removedGoals = removedGoals.concat({
            index: loop.index0,
            goal: goal
        }) %}
    {% endif %}
{% endfor %}

{% set locale = interpolate(locale, {
    goalCounts: {
        currentGoals: currentGoals.length,
        futureGoals: futureGoals.length,
        achievedGoals: achievedGoals.length,
        removedGoals: removedGoals.length
    },
    plan: {
        agreementDate: data.plan.agreementDate | formatSimpleDate,
        createdDate: data.plan.createdDate | formatSimpleDate,
        updatedDate: data.plan.updatedDate | formatSimpleDate,
        updatedBy: data.plan.updatedBy.username | title
    },
    subject: data.popData
}) %}

{% block pageTitle %}
    {% if not errors.domain %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}
{% set header = {
    type: "plan-extended",
    heading: locale.common.primaryNavigation.planLinkText,
    items: [
    {
        text: locale.header.returnToOasysButton,
        href: data.oasysReturnUrl,
        classes: "govuk-button--secondary",
        type: 'button'
    }
    ]
} %}

{% block bodyStart %}
    <div id="top"></div>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors.domain %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: locale.errors['goal-summary-card'].arrayNotEmpty,
                            href: "#goal-list"
                        }
                    ]
                }) }}
            {% endif %}

            {% if data.plan.agreementStatus === 'AGREED' %}
{#                {% if data.plan.updatedDate > data.plan.agreementDate %}#TODO: SP2-836#}
                    <p class="govuk-body">{{ locale.lastUpdatedPlan }}</p>
{#                {% else %}#}
{#                    <p class="govuk-body">{{ locale.agreePlan }}</p>#}
{#                {% endif %}#}
            {% elseif data.plan.agreementStatus === 'DO_NOT_AGREE' %}
                <p class="govuk-body">{{ locale.notAgreePlan }}</p>
            {% elseif data.plan.agreementStatus === 'DRAFT' %}
                <p class="govuk-body">{{ locale.addStepSuggestion }}</p>
            {% endif %}

            {{ mojSubNavigation({
                label: 'Sub navigation',
                classes: 'plan-navigation',
                items: [{
                    text: locale.subNavigation.currentGoals,
                    href: '/plan?type=current',
                    active: data.type === 'current' or data.type === undefined
                },
                {
                    text: locale.subNavigation.futureGoals,
                    href: '/plan?type=future',
                    active: data.type === 'future'
                },
                {
                    text: locale.subNavigation.achievedGoals,
                    href: '/plan?type=achieved',
                    active: data.type === 'achieved'
                } if achievedGoals.length > 0,
                {
                    text: locale.subNavigation.removedGoals,
                    href: '/plan?type=removed',
                    active: data.type === 'removed'
                } if removedGoals.length > 0] | reject('string')
            }) }}

            {% if data.type == 'future' %}
                {% set goals = futureGoals %}
                {% set goalType = 'future' %}
            {% elseif data.type == 'achieved' %}
                {% set goals = achievedGoals %}
                {% set goalType = 'achieved' %}
            {% elseif data.type == 'removed' %}
                {% set goals = removedGoals %}
                {% set goalType = 'removed' %}
            {% else %}
                {% set goals = currentGoals %}
                {% set goalType = 'current' %}
            {% endif %}

            {% if goals.length > 0 %}
            <ol id="goal-list" class="goal-list govuk-list govuk-list--number">
                {% for item in goals %}
                    {% set goal = item.goal %}
                    {% set buttons = [] %}
                    {% set actions = [] %}

                    {% set errorMessage = false %}
                    {% if errors.domain['goals.' + item.index + '.steps'].arrayNotEmpty %}
                        {% set errorMessage = {
                            id: 'goal-summary-card-' + item.index,
                            text: locale.errors['goal-summary-card'].arrayNotEmpty,
                            state: locale.goalSummaryCard.state.incomplete
                        } %}
                    {% endif %}

                    <li>
                        {{ goalSummaryCard({
                            goal: goal,
                            buttons: buttons,
                            actions: actions,
                            errorMessage: errorMessage,
                            locale: locale
                        }) }}
                    </li>
                {% endfor %}
            </ol>
            {% endif %}

            {% include "../partials/back-to-top-link.njk" %}
        </div>
    </div>
{% endblock %}