{% extends "../partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "hmpps/components/date-picker/macro.njk" import hmppsDatePicker %}
{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
{% from "../components/error-summary/error-summary.njk" import errorSummary %}

{% set pageTitle %}
    {% if errors %}
        Error: {{ applicationName }} - Add steps to {{ data.popData.givenName }}'s goal
    {% else %}
        {{ applicationName }} - Add steps to {{ data.popData.givenName }}'s goal
    {% endif %}
{% endset -%}

{% block content %}
<a href="#" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ errorSummary({
            errors: errors,
            locale: locale
        }) }}
        <h1 class="govuk-heading-l">{{ locale.title | replace("{POP_NAME}", data.popData.givenName) }}</h1>

        {{ govukDetails({
            summaryText: locale.detailHeading,
            text: "...."
        }) }}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-column-one-quarter">
                    <label class="govuk-label">{{ locale.whoWillDo.label }}</label>
                    <p class="govuk-hint">{{ locale.whoWillDo.hint }}</p>
                </div>
                <div class="govuk-grid-column-three-quarters">
                    <label class="govuk-label">{{ locale.stepsSection.label }}</label>
                    <p class="govuk-hint">{{ locale.stepsSection.hint }}</p>
                </div>
            </div>
            <form id="create-goal-form" method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <input type="hidden" id="_areaOfNeed" value="{{ data.areaOfNeed }}"/>
                <input type="hidden" id="page" value="steps"/>
                {% for step in data.addedSteps %}
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-column-one-quarter">
                        {{ govukSelect({
                            id: "actor-"+loop.index,
                            name: "actor-"+loop.index,
                            items:
                                [
                                    {
                                        value: "select",
                                        text: "Select who",
                                        disabled: true
                                    },
                                    {
                                        value: data.popData.givenName,
                                        text: data.popData.givenName,
                                        selected: step.actor == data.popData.givenName
                                    },
                                    {
                                        value: locale.whoWillDoInput.probPrac,
                                        text: locale.whoWillDoInput.probPrac,
                                        selected: step.actor == locale.whoWillDoInput.probPrac
                                    },
                                    {
                                        value: locale.whoWillDoInput.progStaff,
                                        text: locale.whoWillDoInput.progStaff,
                                        selected: step.actor == locale.whoWillDoInput.progStaff
                                    },
                                    {
                                        value: locale.whoWillDoInput.partAgency,
                                        text: locale.whoWillDoInput.partAgency,
                                        selected: step.actor == locale.whoWillDoInput.partAgency
                                    },
                                    {
                                        value: locale.whoWillDoInput.crsp,
                                        text: locale.whoWillDoInput.crsp,
                                        selected: step.actor == locale.whoWillDoInput.crsp
                                    },
                                    {
                                        value: locale.whoWillDoInput.someOneElse,
                                        text: locale.whoWillDoInput.someOneElse,
                                        selected: step.actor == locale.whoWillDoInput.someOneElse
                                    }
                                ]
                        }) }}
                    </div>
                    <div class="govuk-grid-column-one-half">
                        {{ govukInput({
                            formGroup: {
                            classes: "step-input-autocomplete-wrapper"
                        },
                        errorMessage: getFormattedError(errors, locale, 'step-input-autocomplete'),
                            id: "step-input-autocomplete",
                            name: "step-input-autocomplete-"+loop.index,
                            value: step.description
                        }) }}
                    </div>
                </div>
                {% endfor %}
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-column-one-quarter">
                        {{ govukSelect({
                            id: "actor",
                            name: "actor",
                            items:
                            [
                                {
                                    value: "select",
                                    text: "Select who"
                                },
                                {
                                    value: data.popData.givenName,
                                    text: data.popData.givenName
                                },
                                {
                                    value: locale.whoWillDoInput.probPrac,
                                    text: locale.whoWillDoInput.probPrac,
                                selected: step.actor == locale.whoWillDoInput.probPrac
                                },
                                {
                                    value: locale.whoWillDoInput.progStaff,
                                    text: locale.whoWillDoInput.progStaff,
                                    selected: step.actor == locale.whoWillDoInput.progStaff
                                },
                                {
                                    value: locale.whoWillDoInput.partAgency,
                                    text: locale.whoWillDoInput.partAgency,
                                    selected: step.actor == locale.whoWillDoInput.partAgency
                                },
                                {
                                    value: locale.whoWillDoInput.crsp,
                                    text: locale.whoWillDoInput.crsp,
                                    selected: step.actor == locale.whoWillDoInput.crsp
                                },
                                {
                                    value: locale.whoWillDoInput.someOneElse,
                                    text: locale.whoWillDoInput.someOneElse,
                                    selected: step.actor == locale.whoWillDoInput.someOneElse
                                }
                            ]
                        }) }}
                    </div>
                    <div class="govuk-grid-column-one-half">
                        {{ govukInput({
                            formGroup: {
                                classes: "step-input-autocomplete-wrapper"
                            },
                            errorMessage: getFormattedError(errors, locale, 'step-input-autocomplete'),
                            id: "step-input-autocomplete",
                            name: "step-input-autocomplete",
                            value: data.form['step-input-autocomplete']
                        }) }}
                    </div>
                </div>
                <p>
                {{ govukButton({
                    text: locale.addAnotherButton,
                    name: "action",
                    value: "addAnother",
                    classes: "govuk-button--secondary"
                }) }}
                </p>
                {{ govukButton({
                    name: "action",
                    value: "save",
                    text: locale.saveButtonText
                }) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}