{% extends "../partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "hmpps/components/date-picker/macro.njk" import hmppsDatePicker %}
{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
{% from "../components/error-summary/error-summary.njk" import errorSummary %}

{% set pageTitle %}
    {% if errors %}
        Error: {{ applicationName }} - Create a goal with {{ data.popData.givenName }}
    {% else %}
       {{ applicationName }} - Create a goal with {{ data.popData.givenName }}
    {% endif %}
{% endset -%}

{% set mainClasses = "app-container govuk-body" %}

{# Setup arrays and custom HTML #}

{% set areaOfNeedNavigationLinks = [] %}
{% for areaOfNeed in data.areasOfNeed %}
    {% set isActive = areaOfNeed.name === data.selectedAreaOfNeed.name %}
    {% set areaOfNeedNavigationLinks = areaOfNeedNavigationLinks.concat({
        text: areaOfNeed.name,
        href: areaOfNeed.url,
        active: isActive
    }) %}
{% endfor %}

{% set relatedAreaOfNeedCheckboxes = [] %}
{% for areaOfNeed in data.areasOfNeed %}
    {% if areaOfNeed.name != data.selectedAreaOfNeed.name %}
        {% set isChecked = data.form['related-area-of-need'] and (areaOfNeed.name in data.form['related-area-of-need']) %}
        {% set relatedAreaOfNeedCheckboxes = relatedAreaOfNeedCheckboxes.concat({
            value: areaOfNeed.name,
            text: areaOfNeed.name,
            checked: isChecked
        }) %}
    {% endif %}
{% endfor %}

{% set areasOfNeedHtml %}
    {{ govukCheckboxes({
      name: "related-area-of-need",
      hint: {
        text: "Select all that apply."
      },
      errorMessage: getFormattedError(errors, locale, "related-area-of-need"),
      items: relatedAreaOfNeedCheckboxes
    }) }}
{% endset -%}

{% set customDateHtml %}
    {{ hmppsDatePicker({
        id: "date-selection-custom",
        name: "date-selection-custom",
        errorMessage: getFormattedError(errors, locale, 'date-selection-custom'),
        classes: "govuk-input--width-10",
        hint: {
            text: "For example, 31/3/2023."
        },
        label: {
            text: "Select a date",
            classes: "govuk-fieldset__legend--s"
        },
        value: data.form['date-selection-custom'],
        minDate: data.minimumDatePickerDate
    }) }}
{% endset -%}

{% set customDateRadioHtml %}
    {{ govukRadios({
        name: "date-selection-radio",
        fieldset: {
            legend: {
                text: locale.dateSelection.label | replace("{POP_NAME}", data.popData.givenName),
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        hint: {
            text: locale.dateSelection.hint
        },
        errorMessage: getFormattedError(errors, locale, 'date-selection-radio'),
        value: data.form['date-selection-radio'],
        items: [
            {
                value: data.dateOptions[4] | formatISODate,
                text: locale.dateSelection.options.nextMeeting | replace("{NEXT_MEETING}", (data.dateOptions[4] | formatSimpleDate)),
                checked: data.form['date-selection-radio'] == data.dateOptions[4] | formatISODate
            },
            {
                value: data.dateOptions[0] | formatISODate,
                text: locale.dateSelection.options.threeMonths | replace("{3_MONTHS_DATE}", (data.dateOptions[0] | formatSimpleDate))
            },
            {
                value: data.dateOptions[1] | formatISODate,
                text: locale.dateSelection.options.sixMonths | replace("{6_MONTHS_DATE}", (data.dateOptions[1] | formatSimpleDate))
            },
            {
                value: data.dateOptions[2] | formatISODate,
                text: locale.dateSelection.options.twelveMonths | replace("{12_MONTHS_DATE}", (data.dateOptions[2] | formatSimpleDate))
            },
            {
                value: data.dateOptions[3] | formatISODate,
                text: locale.dateSelection.options.twentyFourMonths | replace("{24_MONTHS_DATE}", (data.dateOptions[3] | formatSimpleDate)) | replace("{POP_NAME}", data.popData.givenName)
            },
            {
                divider: "or"
            },
            {
                value: "custom",
                text: locale.dateSelection.customRadioOptionText,
                conditional: {
                    html: customDateHtml
                }
            }
        ]
    }) }}
{% endset -%}

{% block content %}
    <a href="#" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {{ mojSideNavigation({
              label: 'Side navigation',
              items: areaOfNeedNavigationLinks
            }) }}
        </div>
        <div class="govuk-grid-column-two-thirds">
            {{ errorSummary({
                errors: errors,
                locale: locale
            }) }}

            <span class="govuk-caption-l">{{ data.displayAreaOfNeed }}</span>
            <h1 class="govuk-heading-l">{{ locale.title | replace("{POP_NAME}", data.popData.givenName) }}</h1>

            <form id="create-goal-form" method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" id="_areaOfNeed" value="{{ data.selectedAreaOfNeed.url }}">
                <input type="hidden" name="area-of-need" value="{{ data.selectedAreaOfNeed.name }}">
                <input type="hidden" id="page" value="goals">

                {{ govukInput({
                    label: {
                        text: "What goal should {POP_NAME} try to achieve?" | replace("{POP_NAME}", data.popData.givenName),
                        classes: "govuk-label--m",
                        isPageHeading: false
                    },
                    hint: {
                        text: "Search for a suggested goal or enter your own. Add one goal at a time."
                    },
                    formGroup: {
                        classes: "goal-input-autocomplete-wrapper"
                    },
                    errorMessage: getFormattedError(errors, locale, 'goal-input-autocomplete'),
                    id: "goal-input",
                    name: "goal-input-autocomplete",
                    value: data.form['goal-input-autocomplete']
                }) }}

                {{ govukRadios({
                    name: "related-area-of-need-radio",
                    fieldset: {
                        legend: {
                            text: "Is this goal related to any other area of need?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: getFormattedError(errors, locale, 'related-area-of-need-radio'),
                    items: [
                        {
                          value: "yes",
                          text: "Yes",
                          checked: data.form['related-area-of-need-radio'] == 'yes',
                          conditional: {
                              html: areasOfNeedHtml
                          }
                        },
                        {
                          value: "no",
                          text: "No",
                          checked: data.form['related-area-of-need-radio'] == 'no'
                        }
                      ]
                }) }}

                {{ govukRadios({
                    name: "start-working-goal-radio",
                    fieldset: {
                        legend: {
                            text: locale.startWorking.label | replace("{POP_NAME}", data.popData.givenName),
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: getFormattedError(errors, locale, 'start-working-goal-radio'),
                    items: [
                        {
                          value: "yes",
                          text: "Yes",
                          checked: data.form['start-working-goal-radio'] == 'yes',
                          conditional: {
                              html: customDateRadioHtml
                          }
                        },
                        {
                          value: "no",
                          text: "No, it is a future goal",
                          checked: data.form['start-working-goal-radio'] == 'no'
                        }
                      ]
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: locale.addStepsButton,
                        name: "action",
                        value: "addStep"
                    }) }}
                    {{ govukButton({
                        name: "action",
                        value: "saveWithoutSteps",
                        text: "Save without steps",
                        classes: "govuk-button--secondary"
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}