{% extends "../partials/layout.njk" %}

{% set locale = interpolate(locale, {
  systemReturnUrl: data.systemReturnUrl,
  managePeopleOnProbationUrl: managePeopleOnProbationUrl
}) %}

{% set resolutionMessage %}
  {% if user.authType == 'HMPPS_AUTH' %}
    {{ locale.resolution.auth | safe }}
  {% elseif user.authType == 'OASYS' %}
    {{ locale.resolution.oasys | safe }}
  {% else %}
    <ul>
      <li>{{ locale.resolution.oasys | safe }}</li>
      <li>{{ locale.resolution.auth | safe }}</li>
    </ul>
  {% endif %}
{% endset %}

{% block pageTitle %}
  {{ locale.page.title }}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}

{% block header %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ locale.mainHeading.title }}</h1>
      {% for suggestion in locale.suggestions %}
        <p class="govuk-body">{{ suggestion }}</p>
      {% endfor %}
      {{ resolutionMessage | safe }}
    </div>
  </div>

  {% if stack %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <code class="code-block">
          <pre>{{ stack }}</pre>
        </code>
      </div>
    </div>
  {% endif %}
{% endblock %}
