{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../components/rosh/macro.njk" import roshWidget %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{% from "../partials/goal-list.njk" import goalList %}

{% set pageTitle = applicationName + " - About " + data.popData.firstName %}
{% set mainClasses = "app-container govuk-body" %}

 
{% block content %}
{% include "../partials/personal-data-header.njk" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: locale.subNav.about+" "+data.popData.firstName,
        href: '/about-pop'
      }, {
        text: locale.subNav.goals,
        href: '/goals',
        active: true
      }, {
        text: locale.subNav.summary,
        href: '/plan-summary'
      }]
    }) }}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ mojButtonMenu({
      items: [{
        text: "Add new goal",
        href: "/about-pop",
        classes: "govuk-button--secondary"
      },{
        text: "Agree plan",
        href: "#"
      }]
    }) }}
</div>
  </div>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <h1>{{  data.popData.firstName }}'s goals to work on now</h1>
            <div class="govuk-grid-row">
            {{goalList(data.currentGoals)}}       
            </div>
            <h1>{{  data.popData.firstName }}'s goals to work on later</h1>
            <div class="govuk-grid-row">
             {{goalList(data.futureGoals)}}         
            </div>
        </main>
    </div>
{% endblock %}