{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}
{% set header = {
    type: "plan-history-extended",
    items: [
        {
            text: locale.header.returnToOasysButton,
            href: data.oasysReturnUrl,
            classes: "govuk-button--secondary",
            type: 'button'
        }
    ]
} %}

{% block bodyStart %}
    <div id="top"></div>
{% endblock %}

{% block content %}
    <p class='govuk-!-margin-top-4'>View all updates and changes made to this plan</p>
    <div class="govuk-grid-column-three-quarters govuk-!-margin-left-0">
    {% for note in data.notes %}
        {% set locale = interpolate(locale, {
            noteCreatedDate: note.createdDate | formatSimpleDate,
            noteCreatedBy: note.createdBy | convertToTitleCase
        }) %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >
        {% if note.noteObject == 'Plan' %}
            {% if note.noteType == 'AGREED' %}
                <p><strong>{{ locale.note.status.plan.agreed }}</strong> {{ locale.who.practitionerAndSubject }}</p>
                <p>{{ locale.subjectResponse.agreed }}</p>
            {% elseif note.noteType == 'DO_NOT_AGREE' %}
                <p><strong>{{ locale.note.status.plan.created }}</strong> by {{ locale.who.practitionerOnly }}</p>
                <p>{{ locale.subjectResponse.didNotAgree }}</p>
            {% elseif note.noteType == 'COULD_NOT_ANSWER' %}
                <p><strong>{{ locale.note.status.plan.created }}</strong> {{ locale.who.practitionerOnly }}</p>
                <p>{{ locale.subjectResponse.couldNotAgree }}</p>
            {% endif %}

            <div>
                {{ note.note }}
            </div>

            {% if note.additionalNote %}
                {{ note.additionalNote }}
            {% endif %}

        {% endif %}

{#        {% if note.noteObject == 'Goal' %}#}
{#            {% if data.status and data.status in ['added', 'changed', 'removed', 'deleted', 'achieved'] %}#}
{#            {% if goal is CREATED %}#}
                <p><strong>{{ locale.note.status.goal.created }}</strong> {{ locale.who.practitionerOnly }}</p>
                <P><strong>{{ note.goalTitle }}</strong></P>
                <p><a href='#' class="govuk-link govuk-link--no-visited-state">{{ locale.linkType.latest }}</a></p>
{#            {% elseif goal is added back%} to update when functionality is added#}
            {#  {% elseif goal is REMOVED%}#}
                <p><strong>{{ locale.note.status.goal.removed }}</strong> {{ locale.who.practitionerOnly }}</p>
                <P><strong>{{ note.goalTitle }}</strong></P>
                {#                <p>{{ note.note }}</p> NOT SURE ABOUT THIS#}
                <p><a href='#' class="govuk-link govuk-link--no-visited-state">{{ locale.linkType.latest }}</a></p>
            {#  {% elseif goal is ACHIEVED%}#}
                <p><strong>{{ locale.note.status.goal.achieved }}</strong> {{ locale.who.practitionerOnly }}</p>
                <P><strong>{{ note.goalTitle }}</strong></P>
                    {% if note.note.length > 0 %}
                        {#   <p>{{ note.note }}</p> NOT SURE ABOUT THIS#}
                    {% endif %}
                <p><a href='#' class="govuk-link govuk-link--no-visited-state">{{ locale.linkType.direct }}</a></p>
                {#  {% elseif goal is UPDATED%}#}
                <p><strong>{{ locale.note.status.goal.updated }}</strong> {{ locale.who.practitionerOnly }}</p>
                <P><strong>{{ note.goalTitle }}</strong></P>
                    {% if note.note.length > 0 %}
                {# <p>{{ note.note }}</p> NOT SURE ABOUT THIS#}
                    {% endif %}
                <p><a href='#' class="govuk-link govuk-link--no-visited-state">{{ locale.linkType.latest }}</a></p>
{#        {% endif %}#}
{#        {% endif %}#}
    {% endfor %}
    </div>

{% endblock %}



