{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "../components/summary-card/goal-summary-card.njk" import goalSummaryCard %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set currentGoals = [] %}
{% set futureGoals = [] %}

{% for goal in data.plan.goals %}
    {% if goal.targetDate %}
        {% set currentGoals = currentGoals.concat({
            index: loop.index0,
            goal: goal
        }) %}
    {% else %}
        {% set futureGoals = futureGoals.concat({
            index: loop.index0,
            goal: goal
        }) %}
    {% endif %}
{% endfor %}

{% set locale = interpolate(locale, {
    goalCounts: {
        currentGoals: currentGoals.length,
        futureGoals: futureGoals.length
    },
    plan: {
        agreementDate: data.plan.agreementDate | formatSimpleDate,
        creationDate: data.plan.creationDate | formatSimpleDate,
        updatedDate: data.plan.updatedDate | formatSimpleDate
    }
}) %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}
{% set header = {
    type: "extended",
    items: [
        {
            text: locale.header.createGoalButton,
            href: "/create-goal/accommodation",
            classes: "govuk-button--secondary",
            type: 'button'
        },
        {
            text: locale.header.agreePlanButton,
            type: 'submit',
            value: 'agree-plan'
        } if data.plan.agreementStatus === 'DRAFT',
        {
            text: locale.header.recordProgressButton,
            type: 'submit',
            value: '#'
        } if data.plan.agreementStatus !== 'DRAFT'
    ]
} %}



{% block bodyStart %}
    <div id="top"></div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            {% if errors.domain %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                            text: locale.errors['goal-summary-card'].arrayNotEmpty,
                            href: "#goal-list"
                        }
                    ]
                }) }}
            {% endif %}

            {% if data.status == 'success' %}
                {{ mojBanner({
                    type: 'success',
                    text: locale.notificationBanner.addedGoal,
                    iconFallbackText: 'Success'
                }) }}
            {% elseif data.status == 'removed' %}
                {{ mojBanner({
                    type: 'success',
                    text: locale.notificationBanner.removedGoal,
                    iconFallbackText: 'Success'
                }) }}
            {% elseif data.status == 'updated' %}
                {{ mojBanner({
                    type: 'success',
                    text: locale.notificationBanner.changedGoal,
                    iconFallbackText: 'Success'
                }) }}
            {% endif %}
            {% if data.plan.agreementStatus === 'AGREED' %}
                <p class="govuk-body">{{ locale.agreePlan }}</p>
            {% elseif data.plan.agreementStatus === 'DO_NOT_AGREE' %}
                <p class="govuk-body">{{ locale.notAgreePlan }}</p>
            {% elseif data.plan.agreementStatus === 'DRAFT' %}
                <p class="govuk-body">{{ locale.addStepSuggestion }}</p>
            {% else %}
                <p class="govuk-body">{{ locale.lastUpdatedPlan }}</p>
            {% endif %}

            {{ mojSubNavigation({
                label: 'Sub navigation',
                items: [{
                    text: locale.subNavigation.currentGoals,
                    href: '/plan-summary?type=current',
                    active: data.type != 'future'
                }, {
                    text: locale.subNavigation.futureGoals,
                    href: '/plan-summary?type=future',
                    active: data.type == 'future'
                }]
            }) }}

            <ol id="goal-list" class="goal-list govuk-list govuk-list--number">
                {% if data.type == 'future' %}
                    {% set goals = futureGoals %}
                    {% set goalType = 'future' %}
                {% else %}
                    {% set goals = currentGoals %}
                    {% set goalType = 'current' %}
                {% endif %}

                {% for item in goals %}
                    {% set goal = item.goal %}
                    {% set buttons = [] %}
                    {% set actions = [] %}

                    {% if not loop.first %}
                        {% set buttons = buttons.concat({
                            text: locale.goalSummaryCard.buttons.moveUpButton,
                            href: "/goals/" + goalType + "/" + goal.uuid + "/up",
                            classes: "govuk-button--secondary"
                        }) %}
                    {% endif %}

                    {% if not loop.last %}
                        {% set buttons = buttons.concat({
                            text: locale.goalSummaryCard.buttons.moveDownButton,
                            href: "/goals/" + goalType + "/" + goal.uuid + "/down",
                            classes: "govuk-button--secondary"
                        }) %}
                    {% endif %}

                    {% set errorMessage = false %}
                    {% if errors.domain['goals.' + item.index + '.steps'].arrayNotEmpty %}
                        {% set errorMessage = {
                            id: 'goal-summary-card-' + item.index,
                            text: locale.errors['goal-summary-card'].arrayNotEmpty,
                            state: locale.goalSummaryCard.state.incomplete
                        } %}
                    {% endif %}

                    {% if data.plan.agreementStatus === 'DRAFT' %}
                        {% set actions = [
                            {
                                href: "/edit-goal/" + goal.uuid,
                                text: locale.goalSummaryCard.actions.draft.changeGoal
                            },
                            {
                                href: "/goal/" + goal.uuid + '/add-steps',
                                text: locale.goalSummaryCard.actions.draft.addOrChangeSteps
                            },
                            {
                                href: "/remove-goal/" + goal.uuid + "?type=current",
                                text: locale.goalSummaryCard.actions.draft.removeGoal
                            }
                        ] %}
                    {% else %}
                        {% if goal.status === 'ACTIVE' or goal.status === 'FUTURE' %}
                            {% set actions = [
                                {
                                    href: '#',
                                    text: locale.goalSummaryCard.actions.active.update
                                },
                                {
                                    href: '#',
                                    text: locale.goalSummaryCard.actions.active.markAsAchieved
                                },
                                {
                                    href: "/remove-goal/" + goal.uuid + "?type=current",
                                    text: locale.goalSummaryCard.actions.active.remove
                                }
                            ] %}
                        {% elseif goal.status === 'COMPLETED' %}
                            {% set actions = [
                                {
                                    href: '#',
                                    text: locale.goalSummaryCard.actions.completed.viewDetails
                                }
                            ] %}
                        {% elseif goal.status === 'REMOVED' %}
                            {% set actions = [
                                {
                                    href: '#',
                                    text: locale.goalSummaryCard.actions.removed.viewDetails
                                },
                                {
                                    href: '#',
                                    text: locale.goalSummaryCard.actions.removed.addToPlan
                                }
                            ] %}
                        {% endif %}
                    {% endif %}

                    <li>
                        {{ goalSummaryCard({
                            goal: goal,
                            buttons: buttons,
                            actions: actions,
                            errorMessage: errorMessage,
                            locale: locale
                        }) }}
                    </li>
                {% endfor %}
            </ol>

            {% include "../partials/back-to-top-link.njk" %}
        </div>
    </div>
{% endblock %}