{% extends "../partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "../components/plan-header/plan-header.njk" import planHeader %}
{% from "../partials/summary-card-with-steps.njk" import summaryListWithSteps %}

{% set pageTitle = applicationName + " - About " + data.popData.firstName %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
  {% include "../partials/primary-navigation.njk" %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include "../partials/personal-data-header.njk" %}
        {{ planHeader({
            firstName: data.popData.givenName
        }) }}

          {{ mojBanner({
            type: 'success',
            text: 'You added a goal to '+data.popData.givenName+'’s plan',
            iconFallbackText: 'Success'
          }) }}
            <p class="govuk-body">
               Add steps to the goals {{ data.popData.givenName }} is working on now. You can then agree the plan with {{ data.popData.givenName }}.
            </p>

            {{ mojSubNavigation({
              label: 'Sub navigation',
              items: [{
                text: 'Goals to work on now ('+ data.currentGoals.length +')',
                href: '/plan-summary?type=current',
                active: data.type != 'future'
              }, {
                text: 'Future goals ('+ data.futureGoals.length +')',
                href: '/plan-summary?type=future',
                active: data.type == 'future'
              }]
            }) }}

            {% if data.type == 'future' %}
                {% for goal in data.futureGoals %}
                     {{ summaryListWithSteps(goal) }}
                {% endfor %}
            {% else %}
                {% for goal in data.currentGoals %}
                    {{ summaryListWithSteps(goal) }}
                {% endfor %}
              {% endif %}
      </div>
</div>
{% endblock %}