{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../partials/layout.njk" %}

{% block pageTitle %}
  {% if not errors %}
    {{ locale.page.title }}
  {% else %}
    {{ locale.page.errorTitle }}
  {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}
{% set header = {
  type: "plan-extended",
  heading: locale.mainHeading.title,
  items: [
    {
      text: locale.common.header.returnToOasysButton,
      href: data.oasysReturnUrl,
      classes: "govuk-button--secondary",
      type: 'button'
    }
  ]
} %}

{% macro showStatusTag( tableConfig, previousStatusKey, trackStatus, tagStatus ) %}
  {% set tagKey = "" %}

  {% for key, tag in locale.mainBody.tags %}
    {%- if tagStatus in tag.statuses -%}
      {% set tagKey = key %}
    {%- endif -%}
  {% endfor %}

  {% if trackStatus and tagKey == previousStatusKey %}
    {% set tagKey = "" %}
  {% endif %}

  {% if tagKey %}
    {{ govukTag({
      text: locale.mainBody.tags[tagKey].text,
      classes: locale.mainBody.tags[tagKey].classes
    }) }}
  {% endif %}
{% endmacro %}


{% macro generateTable( versions, tableConfig, trackStatus, showTableCaption) %}
  <div class="govuk-grid-column-three-quarters">
    {% set tableRows = [] %}
    {% set versionList = [] %}
    {% set previousStatusKey  = "" %}

    {% for date, version in versions %}
      {% set versionList = versionList.concat([{ date: date, version: version }]) %}
    {% endfor %}
    {% set versionList = versionList | sort(attribute='date') %}

    {% for entry in versionList %}
      {% set date = entry.date %}
      {% set version = entry.version %}
      {% set tagStatus = version.planVersion[tableConfig.tagSource] %} {# eg "DO_NOT_AGREE" #}

      {% set assessmentVersionLink %}
        {% if version.assessmentVersion %}
            <a href="/form/view-historic/{{ version.assessmentVersion.uuid }}/accommodation-analysis" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ locale.viewLinkText }}<span class="govuk-visually-hidden"> assessment from {{ version.assessmentVersion.updatedAt }} (opens in new tab) </span></a>
        {% endif %}
      {% endset %}

      {% set planVersionLink %}
        {% if version.planVersion %}
          <a href="/previous-versions/view-historic/{{ version.planVersion.uuid }}" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ locale.viewLinkText }}<span class="govuk-visually-hidden"> plan from {{ version.planVersion.updatedAt }} (opens in new tab) </span></a>
        {% endif %}
      {% endset %}

      {% set planVersionTag %}
        {{ showStatusTag( tableConfig, previousStatusKey, trackStatus, tagStatus) }}
      {% endset %}

      {% if trackStatus %}
        {% for key, tag in locale.mainBody.tags %}
          {% if tagStatus in tag.statuses %}
            {% set previousStatusKey = key %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% set row = [
        { html: [date | formatSimpleDate, version.description] | join("<br>") },
        { html: assessmentVersionLink },
        { html: planVersionLink },
        { html: planVersionTag }
      ]
      %}
      {% set tableRows = [row].concat(tableRows) %}
    {% endfor %}

    {{ govukTable({
      caption: tableConfig.tableHeading if showTableCaption,
      captionClasses: "govuk-table__caption--m govuk-!-margin-top-3" if showTableCaption,
      firstCellIsHeader: false,
      classes: "previous-versions-table",
      head: [
        { text: locale.mainBody.columnText.dateText, classes: "date-column"},
        { text: locale.mainBody.columnText.assessmentText, classes: "view-link-column" },
        { text: locale.mainBody.columnText.sentencePlanText, classes: "view-link-column" },
        { text: locale.mainBody.columnText.statusText, classes: "status-column" }
      ],
      rows: tableRows })
    }}
  </div>
{% endmacro %}

{% block bodyStart %}
  <div id="top"></div>
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="back-link--previous-versions govuk-!-margin-bottom-2">
        {{ govukBackLink({
          text: "Back",
          href: data.returnLink,
          attributes: { "data-browser-back": "" }
        }) }}
      </div>

      {% if data.versions.allVersions | length or data.versions.countersignedVersions | length %}
        <p> {{ locale.mainBody.textForWhenVersionsExist }} </p>
      {% else %}
        <p class="govuk-body govuk-!-margin-top-3 "> {{ locale.mainBody.textForWhenVersionsDontExist }} </p>
      {% endif %}
    </div>

    {% if data.versions.countersignedVersions | length %}
      {% set showTableCaption = true %}
      {% set trackStatus = false %}
      {{ generateTable(data.versions.countersignedVersions, locale.mainBody.tables.countersignedVersions, trackStatus, showTableCaption) }}
    {% endif %}

    {% if data.versions.allVersions | length %}
      {% set showTableCaption = data.versions.countersignedVersions | length > 0 %}
      {% set trackStatus = true %}
      {{ generateTable(data.versions.allVersions, locale.mainBody.tables.allVersions, trackStatus, showTableCaption) }}
    {% endif %}
  </div>
{% endblock %}
