{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../components/error-summary/error-summary.njk" import errorSummary with context %}

{% set print = true %}
{% set locale = interpolate(locale, {
    subject: data.popData,
    lastUpdatedDate: data.formattedAssessmentInfo.versionUpdatedAt | formatSimpleDate
}) %}
{% set isOasysAuthenticated = user and user.authType == 'OASYS' %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}

{% block bodyStart %}
    <div id="top"></div>
{% endblock %}

{% block content %}
    {{ super() }}
    {% if isOasysAuthenticated %}
      <a class="govuk-back-link govuk-!-display-none-print" href="{{ data.systemReturnUrl }}">{{ locale.common.backLink.text }}</a>
    {% endif %}

    <div class="govuk-grid-row{% if not isOasysAuthenticated %} govuk-!-margin-top-4{% endif %}">
        <div class="govuk-grid-column-two-thirds">

            {{ errorSummary({
                errors: errors,
                locale: locale
            }) }}

            <h1 class="govuk-heading-l">{{ locale.mainHeading.title }}</h1>

            <form id="confirm-privacy-form" method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                <p class="govuk-body">{{ locale.mainBody.paragraph1 }}</p>
                <p class="govuk-body">{{ locale.mainBody.paragraph2 }}</p>
                <p class="govuk-body">{{ locale.mainBody.paragraph3 }}</p>
                <p class="govuk-body">{{ locale.mainBody.paragraph4 }}</p>

                {{ govukCheckboxes({
                  name: "confirm-privacy-checkbox",
                  errorMessage: getFormattedError(errors, locale, "confirm-privacy-checkbox"),
                  items: [
                    {
                      value: "true",
                      text: locale.mainBody.checkBoxLabel
                    }
                  ]
                }) }}


                <div class="govuk-button-group">
                    {{ govukButton({
                        text: locale.confirmButton,
                        name: "action",
                        value: "confirm"
                    }) }}
                    {% if isOasysAuthenticated %}
                      <a
                        class="govuk-!-display-none-print govuk-link--no-visited-state"
                        href="{{ data.systemReturnUrl }}"
                      >
                        {{ locale.returnToOasysButton }}
                      </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
