{% extends "../partials/layout.njk" %}
{% from "../components/plan-header/plan-header.njk" import planHeader %}
{% from "../partials/summary-card-with-steps.njk" import summaryListWithSteps %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Remove Goal" %}
{% set mainClasses = "app-container govuk-body" %}

{% block main %}
    {% include "../partials/primary-navigation.njk" %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        // TODO a bunch of layout issues with this personal data header
        {% include "../partials/personal-data-header.njk" %}
        <a href="#" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-xl">Are you sure you want to remove this goal?</h1>

        {{ summaryListWithSteps(data.goal, showActions=false) }}

        <div class="govuk-button-group">
            {{ govukButton({
                text: locale.removeGoalButtonText,
                name: "action",
                value: "remove"
            }) }}
            {{ govukButton({
                text: locale.cancelButtonText,
                name: "action",
                classes: "govuk-button--secondary",
                value: "cancel"
            }) }}
        </div>
    </div>
</div>

{% endblock %}
