{% extends "../partials/layout.njk" %}
{% from "../components/summary-card/goal-summary-card.njk" import goalSummaryCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../components/error-summary/error-summary.njk" import errorSummary %}

{% set locale = interpolate(locale, {
    goalUuid: data.goal.uuid
}) %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="/plan?type={{ data.type }}" class="govuk-back-link">Back</a>

        {{ errorSummary({
            errors: errors,
            locale: locale
        }) }}

        <h1 class="govuk-heading-l">{{ locale.mainHeading.title }}</h1>

        <p>{{  locale.pageBodyOne }}</p>
        <p>{{  locale.pageBodyTwo | safe }}</p>

        {{ goalSummaryCard({
            goal: data.goal,
            locale: locale
        }) }}

        <form id="remove-goal-form" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="goalUuid" value="{{ data.goal.uuid }}">
            <input type="hidden" name="type" value="{{ data.type }}">

            {%  if(data.actionType == "remove") %}
                <br>
                {{ govukTextarea({
                    name: "goal-removal-note",
                    id: "goal-removal-note",
                    classes: "govuk-!-width-two-thirds",
                    rows: 4,
                    label: {
                        text: locale.notes.label,
                        classes: "govuk-label--m govuk-!-width-two-thirds"
                    },
                    errorMessage: getFormattedError(errors, locale, 'goal-removal-note')
                }) }}
            {% endif %}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: locale.removeGoalButtonText,
                    name: "action",
                    value: data.actionType
                }) }}
                <a class="govuk-link govuk-link--no-visited-state" href="/plan?type={{ data.type }}">{{ locale.cancelButtonText }}</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
