{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Summary" %}

{% set mainClasses = "app-container govuk-body" %}
{% set header = {
    type: "extended",
    items: [{
        text: "Create goal",
        href: "/create-goal/accommodation",
        classes: "govuk-button--secondary"
    },
        {
            text: "Agree plan",
            href: "#"
        }]
} %}

{% block content %}
    <div class="govuk-width-container">
        <a href="#" class="govuk-back-link">Back</a>
    </div>
{% endblock %}