{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ locale.page.title }}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}

{% block header %}
  {% include "../partials/header.njk" %}
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ locale.mainHeading.title }}</h1>
      <p class="govuk-body">{{ locale.mainBody.message }}</p>
      <p class="govuk-body">{{ locale.mainBody.messageAdditional }}</p>
    </div>
  </div>

  <div class="govuk-button-group">
    {{ govukButton({
      text: locale.goToPlanButton,
      name: "action",
      value: "confirm"
    }) }}
    <a href="{{ data.returnLink }}">{{ locale.doNotMarkAsAchievedLink }}</a>
  </div>

{% endblock %}
