{% extends "../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../components/summary-card/goal-summary-card.njk" import goalSummaryCard %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../components/note-list/note-list.njk" import noteList %}
{% from "../components/error-summary/error-summary.njk" import errorSummary %}

{% set locale = interpolate(locale, {
    subject: data.popData,
    goal: {
        targetDate: data.goal.targetDate | formatSimpleDate,
        title: data.goal.title
    }
}) %}

{% set items = [
    {
        value: "NOT_STARTED",
        text: locale.common.goalSummaryCard.stepsList.status.notStarted
    },
    {
        value: "IN_PROGRESS",
        text: locale.common.goalSummaryCard.stepsList.status.inProgress
    },
    {
        value: "CANNOT_BE_DONE_YET",
        text: locale.common.goalSummaryCard.stepsList.status.cannotBeDoneYet
    },
    {
        value: "NO_LONGER_NEEDED",
        text: locale.common.goalSummaryCard.stepsList.status.noLongerNeeded
    },
    {
        value: "COMPLETED",
        text: locale.common.goalSummaryCard.stepsList.status.completed
    }
] %}

{% block pageTitle %}
    {% if not errors %}
        {{ locale.page.title }}
    {% else %}
        {{ locale.page.errorTitle }}
    {% endif %}
{% endblock %}

{% set mainClasses = "app-container govuk-body" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <a href="/plan" class="govuk-back-link">{{ locale.common.backLink.text }}</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            {{ errorSummary({
                errors: errors,
                locale: locale
            }) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <span class="govuk-caption-l">{{ data.mainAreaOfNeed.name }}
                        {% if data.relatedAreasOfNeed | length %}
                            (and {{ data.relatedAreasOfNeed | sort | join('; ') | lower }}){% endif %}</span>
                    <h1 class="govuk-heading-l">{{ locale.page.heading }}</h1>
                    <h2 class="govuk-heading-m">{{ locale.page.goalHeading }}</h2>
                </div>
            </div>

            <p>
                {% if data.goal.targetDate %}{{ locale.aimToAchieveBy }}{% else %}{{ locale.common.goalSummaryCard.info.thisIsAFutureGoal }}{% endif %}
                <a href="/change-goal/{{ data.goal.uuid }}" class="govuk-link govuk-link--no-visited-state">{{ locale.changeGoalDetails }}</a>
            </p>

            <h2 class="govuk-heading-m">{{ locale.reviewSteps }}</h2>

            <form id="update-goal-form" method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {% if data.goal.steps and data.goal.steps.length > 0 %}
                    <table class="govuk-table update-goal-table goal-summary-card__steps">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col"
                                class="govuk-table__header">{{ locale.common.goalSummaryCard.stepsList.whoHeader }}</th>
                            <th scope="col"
                                class="govuk-table__header">{{ locale.common.goalSummaryCard.stepsList.whatHeader }}</th>
                            <th scope="col"
                                class="govuk-table__header">{{ locale.common.goalSummaryCard.stepsList.statusHeader }}</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        {% for step in data.goal.steps %}
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell" data-header="{{ locale.common.goalSummaryCard.stepsList.whoHeader }}">{{ step.actor }}</td>
                              <td id="step-description-{{ loop.index }}" class="govuk-table__cell" data-header="{{ locale.common.goalSummaryCard.stepsList.stepHeader }}">{{ step.description }}</td>
                              <td class="govuk-table__cell" data-header="{{ locale.common.goalSummaryCard.stepsList.statusHeader }}">
                                {{ govukSelect({
                                  id: "step-status-" + loop.index,
                                  name: "step-status-" + loop.index,
                                  items: items,
                                  value: step.status,
                                  classes: "govuk-select--auto-width",
                                  formGroup: {
                                    classes: "govuk-!-margin-bottom-0"
                                  },
                                  attributes: {
                                    'aria-label': locale.common.goalSummaryCard.stepsList.statusHeader
                                  }
                                }) }}
                                <input name="step-uuid-{{ loop.index }}" type="hidden" value="{{ step.uuid }}"/>
                              </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <p>
                      <a href="/goal/{{ data.goal.uuid }}/add-steps"
                         class="govuk-link govuk-link--no-visited-state">{{ locale.addOrChangeSteps }}</a>
                    </p>
                {% else %}
                    <div class="goal-summary-card__steps--empty-no-shadow">
                        <p>{{ locale.noStepsAdded }}
                          <a href="/goal/{{ data.goal.uuid }}/add-steps">{{ locale.common.goalSummaryCard.stepsList.addSteps }}</a>
                        </p>
                    </div>
                {% endif %}

                <div class="govuk-grid-row govuk-!-padding-top-2">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-form-group">
                            {{ govukTextarea({
                                name: "more-detail",
                                id: "more-detail",
                                rows: 4,
                                label: {
                                    text: locale.optionalProgressNotes,
                                    classes: "govuk-label--m"
                                },
                                hint: {
                                    text: locale.moreDetailHint
                                },
                                value: data.form['more-detail'],
                                errorMessage: getFormattedError(errors, locale, 'more-detail')
                            }) }}

                            {{ noteList({
                                notes: data.goal.notes,
                                locale: locale
                            }) }}

                            <div class="govuk-button-group">
                                <button type="submit" class="govuk-button" data-module="govuk-button">
                                    {{ locale.saveGoalAndSteps }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
