name: Run end-to-end tests

on:
  workflow_call:
    inputs:
      app_version:
        description: App version
        required: true
        type: string
      job-index:
        description: 'The index of the current job in the matrix'
        required: false
        type: number
        default: 1
      job-total:
        description: 'The total number of jobs in the matrix'
        required: false
        type: number
        default: 1
      matrix-container:
        description: 'The matrix container description'
        required: false
        type: number
        default: 1

permissions:
  contents: read

jobs:
  e2e_test:
    runs-on: ubuntu-latest
    env:
      APP_VERSION: ${{ inputs.app_version }}
    steps:
      - uses: actions/checkout@v6

      - name: Download docker image
        uses: actions/download-artifact@v6
        with:
          name: build_image
          path: ${{ runner.temp }}

      - name: Load image
        run: docker load --input ${{ runner.temp }}/build_image.tar

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm run setup

      - name: Stand up a test environment
        run: make up

      - name: Run split Cypress tests
        uses: cypress-io/github-action@v6.10.8
        with:
          install: false
          publish-summary: false
          browser: edge
        env:
          SPEC: 'integration_tests/e2e/e2e-tests/**/*.cy.ts'
          SPLIT: ${{ inputs.job-total }}
          SPLIT_INDEX: ${{ inputs.job-index }}

      - name: Upload test results
        if: '!cancelled()'
        uses: actions/upload-artifact@v5
        with:
          name: test_results_${{ inputs.matrix-container }}
          path: |
            test_results/cypress/

      - name: Archive screenshots
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: screenshots_${{ inputs.matrix-container }}
          path: |
            ./integration_tests/screenshots/**/*

      - name: Export container logs
        if: failure()
        run: make save-logs OUTPUT_LOGS_DIR=${{ runner.temp }}/docker-logs

      - name: Upload docker logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: e2e_docker_logs_${{ inputs.matrix-container }}
          path: |
            ${{ runner.temp }}/docker-logs
